.show-props {
  background: #ffffff;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;

  .show-props-item {
    color: #9da2ae;
    font-family: "PingFang SC";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
    word-break: break-all;
  }
}
