.index {
  position: relative;
  width: 100%;
  height: 70vh;
  border: 1px solid red;

  .refresh-container {
    display: block;
    width: 100%;
    height: 80px;
    background: red;
    display: flex;
    align-items: center;
    position: absolute;
    top: -80px;
  }
}
