@import "~taro-ui/dist/style/index.scss";

page {
  background: rgb(246, 246, 246);
}

view {
  font-family: PingFang SC-Regular, PingFang SC;
  box-sizing: border-box;
  display: block;
}
button::after {
  border: 0;
}

button {
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  font-size: 26px;
  line-height: 1;
  margin: 30px;
  border: 1px solid #999999;
}
